<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
</head>
<body>
<!--    <div th:if="${errorMessage!=null}"-->
<!--     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>-->
<!--    <div th:if="${errorMessage==null}"-->
<!--         style="color:#23fd00;font-style:italic">You are successfully registered</div>-->

    <form th:action="@{/api/user/register}" th:object="${user}" method="post">
    <p>First name: </p>
    <input type="text" class="in" th:field="*{firstName}" required minlength="1">
    <p>Last name: </p>
    <input type="text" class="in" th:field="*{lastName}" required minlength="1">
    <p>Email: </p>
    <input type="text" class="in" th:field="*{email}" required>
    <p>Password: </p>
    <input type="password" class="in" th:field="*{password}" required minlength="6"><br><br>
    <input type="submit" class = "reg" value="submit" />
    </form><br>
</body>
</html>